<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="configuration" name="%extension-point.name.configuration" schema="schema/configuration.exsd"/>
  <extension-point id="parameter" name="%extension-point.name.parameter" schema="schema/parameter.exsd"/>

  <extension point="org.eclipse.dltk.tcl.tclchecker.configuration">
     <configuration resource="/resources/builtin.xml" order="2147483647"/>
  </extension>

   <extension
         id="tclcheckerproblem"
         name="%TclChecker.MarkerName"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="org.eclipse.dltk.tcl.tclchecker.suggestedCorrections" />
      <attribute name="org.eclipse.dltk.tcl.tclchecker.commandStart" />
      <attribute name="org.eclipse.dltk.tcl.tclchecker.commandEnd" />
      <attribute name="org.eclipse.dltk.tcl.tclchecker.messageId" />
      <attribute name="org.eclipse.dltk.tcl.tclchecker.timestamp" />
      <attribute name="org.eclipse.dltk.tcl.tclchecker.autoCorrectable" />
   </extension>
 <extension
         point="org.eclipse.dltk.validators.core.validator">
      <validatorType
            class="org.eclipse.dltk.tcl.internal.tclchecker.TclCheckerType"
            id="org.eclipse.dltk.tclchecker"
            nature="org.eclipse.dltk.tcl.core.nature">
      </validatorType>
   </extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
   		<markerResolutionGenerator
			class="org.eclipse.dltk.tcl.internal.tclchecker.qfix.TclCheckerMarkerResolutionGenerator"
			markerType="org.eclipse.dltk.tcl.tclchecker.tclcheckerproblem">
		</markerResolutionGenerator>
	</extension>
	<extension point="org.eclipse.dltk.ui.correctionProcessor">
		<correctionProcessor
			class="org.eclipse.dltk.tcl.internal.tclchecker.qfix.TclCheckerCorrectionProcessor"
			nature="org.eclipse.dltk.tcl.core.nature">
		</correctionProcessor>
	</extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
            uri="http://www.eclipse.org/dltk/tcl/tclchecker/messages"
            class="org.eclipse.dltk.tcl.tclchecker.model.messages.MessagesPackage"
            genModel="models/tclchecker.genmodel"/>
	</extension>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
            uri="http://www.eclipse.org/dltk/tcl/tclchecker/configs"
            class="org.eclipse.dltk.tcl.tclchecker.model.configs.ConfigsPackage"
            genModel="models/tclchecker.genmodel"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
    <page
          class="org.eclipse.dltk.tcl.internal.tclchecker.ui.preferences.TclCheckerPreferencePage"
          id="org.eclipse.dltk.tcl.tclchecker.configuration"
          category="org.eclipse.dltk.tcl.preferences"
          name="%TclCheckerPreferencePage.name">
    </page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page category="org.eclipse.dltk.tcl.propertyPage"
			class="org.eclipse.dltk.tcl.internal.tclchecker.ui.preferences.TclCheckerPreferencePage"
			id="org.eclipse.dltk.tcl.propertypage.tclchecker"
			name="%TclCheckerPropertyPage.name">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.tcl.core.nature"/>
				</adapt>         
			</enabledWhen>
		</page>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution adaptable="false"
			id="org.eclipse.dltk.tcl.tclchecker.autoCorrect"
			objectClass="org.eclipse.dltk.core.IModelElement">
			<filter name="org.eclipse.dltk.ui.nature" value="org.eclipse.dltk.tcl.core.nature"/>
			<action
				class="org.eclipse.dltk.tcl.internal.tclchecker.ui.AutoCorrectTclCheckerProblemsActionDelegate"
				id="org.eclipse.dltk.tcl.tclchecker.autoCorrect"
				label="Auto Correct TclChecker problems"
				menubarPath="org.eclipse.dltk.ui.refactoring.menu"
				style="push">
				<!-- icon="icons/etool16/newpack_wiz.gif" -->
			</action>
		</objectContribution>
	</extension>
<!--
	<extension point="org.eclipse.ui.propertyPages">
		<page class="org.eclipse.dltk.tcl.internal.tclchecker.ui.preferences.TclCheckerProblemPropertyPage"
			id="org.eclipse.dltk.tcl.tclchecker.problem.marker"
			name="%TclChecker.Marker.PropertyPage">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IMarker">
				<test
					property="org.eclipse.dltk.markerType"
					value="org.eclipse.dltk.tcl.tclchecker.tclcheckerproblem">
				</test>
				<!- - TODO test extended attributes - ->
				</adapt>
			</enabledWhen>
		</page>
	</extension>
-->
</plugin>
