<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="definitions" name="definitions" schema="schema/definitions.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/dltk/tcl/parserules.ecore"
            class="org.eclipse.dltk.tcl.definitions.DefinitionsPackage"
            genModel="models/definitions.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/dltk/tcl/ast.ecore"
            class="org.eclipse.dltk.tcl.ast.AstPackage"
            genModel="models/ast.genmodel"/>
   </extension>
</plugin>
