<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point id="spawnpointCommand" name="%extension-point.name.spawnpointCommand" schema="schema/spawnpointCommand.exsd"/>

  <extension point="org.eclipse.core.runtime.preferences">
    <initializer 
      class="org.eclipse.dltk.tcl.internal.debug.TclDebugPreferenceInitializer"/>
  </extension>   
   
   <extension
         point="org.eclipse.dltk.debug.scriptDebugModel">
      <debugModel
            debugModelId="org.eclipse.dltk.debug.tclModel"
            natureId="org.eclipse.dltk.tcl.core.nature"
            typeFactory="org.eclipse.dltk.tcl.internal.debug.TclTypeFactory">
      </debugModel>
   </extension>
   <extension
         point="org.eclipse.dltk.debug.hotCodeReplaceProvider">
      <provider
            class="org.eclipse.dltk.tcl.internal.debug.TclHotCodeReplaceProvider"
            nature="org.eclipse.dltk.tcl.core.nature">
      </provider>
   </extension>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.dltk.tcl.internal.debug.spawnpoint.TclSpawnpointBuildParticipantFactory"
            id="org.eclipse.dltk.tcl.debug.spawnpoint.builder"
            name="Tcl Spawnpoint Builder"
            nature="org.eclipse.dltk.tcl.core.nature">
            <requires
                  id="org.eclipse.dltk.tcl.validators.checks">
            </requires>
      </buildParticipant>
   </extension>
   <extension id="spawnpoint" point="org.eclipse.core.resources.markers">
     <super type="org.eclipse.core.resources.textmarker"/>
     <persistent value="true"/>
   </extension>
   <extension point="org.eclipse.dltk.tcl.debug.spawnpointCommand">
      <command name="spawn" enabled="false" />
      <command name="exec" enabled="false" />
      <command name="open" enabled="false" />
      <command name="thread::create" />
   </extension>
</plugin>
