<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tclCheck" name="tclCheck" schema="schema/tclCheck.exsd"/>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.dltk.tcl.validators.TclChecksValidatorType"
            id="org.eclipse.dltk.tcl.validators.checks"
            name="Tcl checks"
            nature="org.eclipse.dltk.tcl.core.nature">
      </buildParticipant>
      <buildParticipant
            class="org.eclipse.dltk.tcl.internal.validators.packages.PackageRequireCheckerFactory"
            id="org.eclipse.dltk.tcl.validators.packages"
            name="Package Require Checker"
            nature="org.eclipse.dltk.tcl.core.nature">
            <requires
                  id="org.eclipse.dltk.tcl.validators.checks">
            </requires>
      </buildParticipant>
      <buildParticipant
            class="org.eclipse.dltk.tcl.internal.validators.task.TclTodoParserFactory"
            id="org.eclipse.dltk.tcl.validators.todo"
            name="Tcl TODO Task Parser"
            nature="org.eclipse.dltk.tcl.core.nature">
            <requires
                  id="org.eclipse.dltk.tcl.validators.checks">
            </requires>
      </buildParticipant>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.validators.tclCheck">
      <!--check
            class="org.eclipse.dltk.tcl.internal.validators.checks.UndefinedVariableCheck"
            id="org.eclipse.dltk.tcl.validators.undefvariable"
            title="Undefined variable check">
      </check>
      <check
            class="org.eclipse.dltk.tcl.internal.validators.checks.UndefinedProcCheck"
            id="org.eclipse.dltk.tcl.validators.undefproc"
            title="Undefined proc check">
      </check-->
      <check
            class="org.eclipse.dltk.tcl.internal.validators.checks.ArgumentsDefinitionCheck"
            id="org.eclipse.dltk.tcl.validators.argumentsdefinitioncheck"
            title="Arguments Definition Check">
      </check>
      <check
            class="org.eclipse.dltk.tcl.internal.validators.checks.UnreachableCodeCheck"
            id="org.eclipse.dltk.tcl.validators.unreachablecodecheck"
            title="Unreachable Code Check">
      </check>
      <check
            class="org.eclipse.dltk.tcl.internal.validators.checks.CommandRedefinitionCheck"
            id="org.eclipse.dltk.tcl.validators.commandredefinitioncheck"
            title="Command RedefinitionCheck">
      </check>
   </extension>

</plugin>
