<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="tclCommandProcessor" name="tclCommandProcessor" schema="schema/tclCommandProcessor.exsd"/>
   <extension-point id="tclCommandDetector" name="tclCommandDetector" schema="schema/tclCommandDetector.exsd"/>
   <extension-point id="tclkeywords" name="tclkeywords" schema="schema/tclkeywords.exsd"/>
   <extension-point id="tclExtension" name="tclExtension" schema="schema/tclExtension.exsd"/>
   <extension-point id="tclModelBuilder" name="tclModelBuilder" schema="schema/tclModelBuilder.exsd"/>
   <extension-point id="tclModelBuilderDetector" name="tclModelBuilderDetector" schema="schema/tclModelBuilderDetector.exsd"/>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.dltk.tcl.core.TclNature"/>
      </runtime>
   </extension> 
<!--
   <extension
         point="org.eclipse.dltk.validators.core.validator">
      <validatorType
            class="org.eclipse.dltk.tcl.internal.core.packages.TclPackageCheckerType"
            id="org.eclipse.dltk.tcl.packageChecker"
            name="Tcl Package Checker"
            nature="org.eclipse.dltk.tcl.core.nature">
      </validatorType>
   </extension>
   <extension
         point="org.eclipse.dltk.validators.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.dltk.tcl.internal.parser.TclTodoParserType"
            id="org.eclipse.dltk.tcl.todo"
            name="Tcl TODO task parser"
            nature="org.eclipse.dltk.tcl.core.nature">
      </buildParticipant>
   </extension>
-->

   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.eclipse.dltk.tcl.core.TclLanguageToolkit"
            nature="org.eclipse.dltk.tcl.core.nature"/>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.eclipse.dltk.tcl.internal.parser.TclSourceElementParser"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </parser>
<!-- NEW STRUCTURE PARSER -->
      <parser
            class="org.eclipse.dltk.tcl.internal.structure.TclSourceElementParser2"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="1">
      </parser>
   </extension>
   <extension
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="org.eclipse.dltk.tcl.internal.core.codeassist.TclSelectionEngine"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </selectionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="org.eclipse.dltk.tcl.internal.core.codeassist.TclCompletionEngine"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </completionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.search">
      <seachFactory
            class="org.eclipse.dltk.tcl.internal.core.TclSearchFactory"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </seachFactory>
   </extension>
   <extension
         point="org.eclipse.dltk.core.callHierarchy">
      <callHerarchiesFactory
            class="org.eclipse.dltk.tcl.internal.core.TclCallHierarchyFactory"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </callHerarchiesFactory>
   </extension>
   <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.text"
           file-extensions="tcl,test,exp,tm,pcx,pdx"
           id="org.eclipse.dltk.tclContentType"
           name="%tclContentType"
           priority="high">
        <describer
              class="org.eclipse.dltk.tcl.core.TclContentDescriber"
              plugin="org.eclipse.dltk.tcl.core">
        </describer>       
     </content-type>
  </extension>
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.eclipse.dltk.tcl.core.nature">
         <parser
               class="org.eclipse.dltk.tcl.internal.parser.TclSourceParserFactory"
               description="%sourceParser.description"
               id="org.eclipse.dltk.tcl.sourceParser"
               name="%sourceParser.name"
               priority="0" />
      </parserContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.core.tclkeywords">
      <keywords
            class="org.eclipse.dltk.tcl.core.TclKeywords">
      </keywords>
   </extension>
 <extension
         name="tcl commands"
         point="org.eclipse.dltk.tcl.core.tclCommandProcessor">
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclNamespaceProcessor"
            id="namespace"></processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclProcProcessor"
            id="proc">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclVariableProcessor"
            id="set">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclUpvarProcessor"
            id="upvar">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclGlobalVariableProcessor"
            id="global">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclPackageProcessor"
            id="package">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclCatchProcessor"
            id="catch">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclIfProcessor"
            id="if">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclNamespaceVariableProcessor"
            id="variable">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclSwitchCommandProcessor"
            id="switch">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclForCommandProcessor"
            id="for">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclForeachCommandProcessor"
            id="foreach">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclWhileCommandProcessor"
            id="while">
      </processor>
   </extension>
   <!-- -->
   <extension point="org.eclipse.dltk.tcl.core.tclModelBuilder">
      <processor id="proc"      class="org.eclipse.dltk.tcl.internal.structure.builders.TclProcModelBuilder"/>
      <processor id="set"       class="org.eclipse.dltk.tcl.internal.structure.builders.TclVariableModelBuilder"/>
      <processor id="global"    class="org.eclipse.dltk.tcl.internal.structure.builders.TclGlobalVariableModelBuilder"/>
      <processor id="upvar"     class="org.eclipse.dltk.tcl.internal.structure.builders.TclUpvarModelBuilder"/>
      <processor id="catch"     class="org.eclipse.dltk.tcl.internal.structure.builders.TclCatchModelBuilder"/>
      <processor id="variable"  class="org.eclipse.dltk.tcl.internal.structure.builders.TclNamespaceVariableModelBuilder"/>
      <processor id="namespace" class="org.eclipse.dltk.tcl.internal.structure.builders.TclNamespaceModelBuilder"/>
   </extension>
   <!-- -->
   <extension
      point="org.eclipse.dltk.core.projectIndexer">
      <enable
            indexer="org.eclipse.dltk.core.indexer.mixin"
            nature="org.eclipse.dltk.tcl.core.nature">
      </enable>
   </extension>
   <extension
         point="org.eclipse.dltk.core.mixin">
      <mixin
            class="org.eclipse.dltk.tcl.internal.core.search.mixin.TclMixinParser"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </mixin>
   </extension>
   <extension
         point="org.eclipse.dltk.core.interpreterContainerExtension">
      <interpreterContainerExtension
            class="org.eclipse.dltk.tcl.internal.core.packages.TclPackagesInterpreterContainerExtension"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </interpreterContainerExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.dltk.tcl.internal.core.TclCorePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.dltk.core.model">
      <model
            class="org.eclipse.dltk.tcl.internal.core.packages.TclPackagesModelProvider"
            id="org.eclipse.dltk.tcl.core.packages"
            language="org.eclipse.dltk.tcl.core.nature">
      </model>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.dltk.tcl.core.packages.TclPackagesPackage"
            genModel="/model/packages.genmodel"
            uri="http://www.eclipse.org/dltk/tcl/packages">
      </package>
   </extension>
   <extension
         point="org.eclipse.dltk.core.astCache">
      <astCache
            class="org.eclipse.dltk.tcl.internal.core.TclASTCache"
            language="org.eclipse.dltk.tcl.core.nature">
      </astCache>
   </extension>
   <!--extension
         point="org.eclipse.dltk.core.buildpathContainerInitializer">
      <buildpathContainerInitializer
            class="org.eclipse.dltk.tcl.internal.core.packages.TclPackagesBuildpathContainerInitializer"
            id="org.eclipse.dltk.tcl.core.PACKAGES">
      </buildpathContainerInitializer>
   </extension-->
</plugin>
